<form [formGroup]="configForm" (ngSubmit)="onSubmit()" class="config-form">
    <div class="form-group">
      <label for="maxTicketPool">Maximum Ticket Pool Size</label>
      <input type="number" id="maxTicketPool" formControlName="maxTicketPool" class="form-control">
    </div>
  
    <div class="form-group">
      <label for="totalVendors">Number of Vendors</label>
      <input type="number" id="totalVendors" formControlName="totalVendors" class="form-control">
    </div>
  
    <div class="form-group">
      <label for="releasePerVendor">Tickets per Vendor</label>
      <input type="number" id="releasePerVendor" formControlName="releasePerVendor" class="form-control">
    </div>
  
    <div class="form-group">
      <label for="vendorReleaseRate">Vendor Release Rate (seconds)</label>
      <input type="number" id="vendorReleaseRate" formControlName="vendorReleaseRate" class="form-control">
    </div>
  
    <div class="form-group">
      <label for="totalCustomers">Number of Customers</label>
      <input type="number" id="totalCustomers" formControlName="totalCustomers" class="form-control">
    </div>
  
    <div class="form-group">
      <label for="ticketsPerCustomer">Tickets per Customer</label>
      <input type="number" id="ticketsPerCustomer" formControlName="ticketsPerCustomer" class="form-control">
    </div>
  
    <div class="form-group">
      <label for="customerBuyingRate">Customer Buying Rate (seconds)</label>
      <input type="number" id="customerBuyingRate" formControlName="customerBuyingRate" class="form-control">
    </div>
  
    <button type="submit" class="btn btn-primary" [disabled]="!configForm.valid">Save Configuration</button>
  </form>
